In [1]:
import pandas as pd
import numpy as np

# Series

In [2]:
myindex = ['USA','Canada','Mexico']

In [3]:
mydata = [1776,1867,1821]

In [4]:
myser = pd.Series(data=mydata)
myser

0    1776
1    1867
2    1821
dtype: int64

In [5]:
type(myser)

pandas.core.series.Series

In [6]:
myser = pd.Series(data=mydata, index=myindex)
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [7]:
myser[0]

C:\Users\shrih\AppData\Local\Temp\ipykernel_12924\3030946548.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  myser[0]

1776

In [8]:
myser['USA']

1776

In [9]:
ages = {'Sam' : 5,
       'Frank' : 10,
       'Spike': 7}

In [10]:
pd.Series(ages)

Sam       5
Frank    10
Spike     7
dtype: int64

In [11]:
#Imaginary Sales Data for !st and 2nd Quarters for Global company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100, 'China': 500, 'India': 210, 'USA': 260}

In [12]:
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

In [13]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [14]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [15]:
sales_q1['Japan']

80

In [16]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [17]:
[1,2] * 2

[1, 2, 1, 2]

In [18]:
np.array([1,2]) * 2

array([2, 4])

In [19]:
sales_q1 * 2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [20]:
sales_q1 /100

Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

In [21]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [22]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [23]:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [24]:
first_half = sales_q1.add(sales_q2, fill_value=0)
first_half

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

In [25]:
sales_q1.dtype

dtype('int64')

In [26]:
first_half.dtype

dtype('float64')